<html>
	<head>
		<title>Zelp</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="fa fa-yelp"></i> Zelp</a>
			</div>			
		</div>
	</nav>
		<div class="da-background">
			<div class="jumbotron vertical-center">
				<div class="container">
					<h2>{{ restaurant.getName }}</h2>
					<ul class="list-unstyled">
						<li>{{ restaurant.getLocation }}</li>
						<li>{{ restaurant.getDescription }}</li>
						<li>Price: {{ restaurant.getPrice }}</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					{% if reviews is not empty %}
						{% for review in reviews %}
							{% if restaurant.getId == review.getRestaurantId %}
								<p>By: {{ review.getUser }}</p>
								{% if review.getStars == 1 %}
									<p><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
								{% elseif review.getStars == 2 %}
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
								{% elseif review.getStars == 3 %}
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
								{% elseif review.getStars == 4 %}
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
								{% elseif review.getStars == 5 %}
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
								{% elseif review.getStars == 0 %}
									<p><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
								{% endif %}
								<p><strong>{{ review.getHeadline }}</strong></p>
								<p>{{ review.getBody }}</p>
							{% endif %}
						{% endfor %}
					{% else %}
						<h3>There Are no Reviews Yet</h3>
					{% endif %}
					<form action="/reviews" method="post" oninput="amount.value=stars.value">
						<div class="form-group">
							<h4>Add A New Review:</h4>
							<input id="restaurant_id" type="hidden" name="restaurant_id" value="{{ restaurant.getId }}">
							<label for="user">User:</label>
							<input type="text" name="user" id="user"class="form-control">
							<label for="stars">Stars:</label>
							<input type="range" name="stars" min="0" max="5" id="stars">
							<output name="amount" for="stars">0</output>
							<label for="headline">Headline:</label>
							<input type="text" name="headline" id="headline" class="form-control">
							<label for="body">Body:</label>
							<input type="text" name="body" id="body"class="form-control">
							<br>
							<button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Submit Review</button>
						</div>
					</form>
					
					
					<form action="/restaurants/{{ restaurant.getId }}/edit">
						<button type="submit" class="btn btn-default">Edit Restaurant <i class="fa fa-pencil-square-o"></i></button>
					</form>
			
					<form action="/cuisines/{{restaurant.getCuisineId}}">
						<button type="submit" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>